:root {
  --background-color__keyboard: rgb(77, 77, 77);
  --background-color__blackkeys: rgb(77, 77, 77);
  --border__whitekeys: 3px solid rgb(77, 77, 77);
  --color__keymapping__whitekeys: rgb(77, 77, 77);
  --background-color__keyHit__whitekeys: rgb(251, 176, 59);
  --background-color__keyHit2__whitekeys: rgb(250, 116, 39);
}

.keyboard {
  margin-right: 51px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: var(--background-color__keyboard);
}

.keyboard__white-key__wrapper {
  display: flex;
  flex-direction: row;
}

@keyframes keyHitBlack {
  from {
    background: rgb(41, 226, 226);
  }
  to {
    background: var(--background-color__keyboard);
  }
}

@keyframes keyHitBlack2 {
  from {
    background: rgb(41, 171, 226);
  }
  to {
    background: var(--background-color__keyboard);
  }
}

@keyframes keyHitWhite {
  from {
    background: var(--background-color__keyHit__whitekeys);
  }
  to {
    background-color: rgb(189, 221, 218);
  }
}

@keyframes keyHitWhite2 {
  from {
    background: var(--background-color__keyHit2__whitekeys);
  }
  to {
    background-color: rgb(189, 221, 218);
  }
}

.key-mapping {
  visibility: visible;
  margin-top: 200px;
  color: var(--color__keymapping__whitekeys);
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}
.key-mapping__hidden {
  visibility: hidden;
  margin-top: 200px;
  color: rgb(151, 191, 201);
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

.key-mapping__black {
  visibility: visible;
  margin-top: 120px;
  color: rgb(189, 221, 218);
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}
.key-mapping__black__hidden {
  visibility: hidden;
  margin-top: 120px;
  color: rgb(189, 221, 218);
  font-family: "Varela Round", sans-serif;
  font-weight: bolder;
  font-size: 25px;
}

/* ----------------white keys---------------- */


.KeyA,
.KeyA-hit,
.KeyA-hit2 {
  border-radius: 0px 0px 0px 20px;
  height: 250px;
  width: 90px;
  background-color: rgb(189, 221, 218);
  border-top: none;
  border: var(--border__whitekeys);
  /* border-right: var(--border__whitekeys);
  border-bottom: var(--border__whitekeys); */

  outline: none;
}
.Quote,
.Quote-hit,
.Quote-hit2 {
  border-radius: 0px 0px 20px 0px;
  height: 250px;
  width: 90px;
  background-color: rgb(189, 221, 218);
  border-left: var(--border__whitekeys);
  border-right: var(--border__whitekeys);
  border-bottom: var(--border__whitekeys);
  border-top: none;
  outline: none;
}

.KeyA-hit,
.Quote-hit {
  animation: 1s ease-out keyHitWhite;
  animation-iteration-count: 1;
}
.KeyA-hit2,
.Quote-hit2 {
  animation: 1s ease-out keyHitWhite2;
  animation-iteration-count: 1;
}

.KeyS,
.KeyD,
.KeyF,
.KeyG,
.KeyH,
.KeyJ,
.KeyK,
.KeyL,
.Semicolon {
  height: 250px;
  width: 90px;
  background-color: rgb(189, 221, 218);
  border-left: var(--border__whitekeys);
  border-right: var(--border__whitekeys);
  border-bottom: var(--border__whitekeys);
  border-top: none;
  outline: none;
}
.KeyA-hit,
.KeyS-hit,
.KeyD-hit,
.KeyF-hit,
.KeyG-hit,
.KeyH-hit,
.KeyJ-hit,
.KeyK-hit,
.KeyL-hit,
.Semicolon-hit,
.Quote-hit {
  height: 250px;
  width: 90px;
  background-color: rgb(189, 221, 218);
  border-left: var(--border__whitekeys);
  border-right: var(--border__whitekeys);
  border-bottom: var(--border__whitekeys);
  border-top: none;
  outline: none;
  animation: 1s ease-out keyHitWhite;
  animation-iteration-count: 1;
}
.KeyA-hit2,
.KeyS-hit2,
.KeyD-hit2,
.KeyF-hit2,
.KeyG-hit2,
.KeyH-hit2,
.KeyJ-hit2,
.KeyK-hit2,
.KeyL-hit2,
.Semicolon-hit2,
.Quote-hit2 {
  height: 250px;
  width: 90px;
  background-color: rgb(189, 221, 218);
  border-left: var(--border__whitekeys);
  border-right: var(--border__whitekeys);
  border-bottom: var(--border__whitekeys);
  border-top: none;
  outline: none;
  animation: 1s ease-out keyHitWhite2;
  animation-iteration-count: 1;
}

/* ______FOCUS______ */

.KeyA:focus:active,
.KeyS:focus:active,
.KeyD:focus:active,
.KeyF:focus:active,
.KeyG:focus:active,
.KeyH:focus:active,
.KeyJ:focus:active,
.KeyK:focus:active,
.KeyL:focus:active,
.Semicolon:focus:active,
.Quote:focus:active {
  animation: 1s ease-out keyHitWhite;
  animation-iteration-count: 1;
}
.KeyA-hit:focus:active,
.KeyS-hit:focus:active,
.KeyD-hit:focus:active,
.KeyF-hit:focus:active,
.KeyG-hit:focus:active,
.KeyH-hit:focus:active,
.KeyJ-hit:focus:active,
.KeyK-hit:focus:active,
.KeyL-hit:focus:active,
.Semicolon-hit:focus:active,
.Quote-hit:focus:active {
  animation: 1s ease-out keyHitWhite2;
  animation-iteration-count: 1;
}
.KeyA-hit2:focus:active,
.KeyS-hit2:focus:active,
.KeyD-hit2:focus:active,
.KeyF-hit2:focus:active,
.KeyG-hit2:focus:active,
.KeyH-hit2:focus:active,
.KeyJ-hit2:focus:active,
.KeyK-hit2:focus:active,
.KeyL-hit2:focus:active,
.Semicolon-hit2:focus:active,
.Quote-hit2:focus:active {
  animation: 1s ease-out keyHitWhite;
  animation-iteration-count: 1;
}

/* ------------------------------------------
  ---------------BLACK KEYS-----------------
  ------------------------------------------ */

.KeyW,
.KeyW-hit,
.KeyW-hit2 {
  z-index: 1;
  margin: 0px 1px 10px -938px;
  height: 180px;
  width: 75px;
  background: var(--background-color__blackkeys);
  border-radius: 0px 0px 100px 100px;
  border: none;
  outline: none;
}
.KeyW-hit {
  animation: 1s ease-out keyHitBlack;
  animation-iteration-count: 1;
}
.KeyW-hit2 {
  animation: 1s ease-out keyHitBlack2;
  animation-iteration-count: 1;
}
.KeyE,
.KeyR,
.KeyU,
.KeyP,
.BracketLeft,
.KeyE-hit,
.KeyR-hit,
.KeyU-hit,
.KeyP-hit,
.BracketLeft-hit,
.KeyE-hit2,
.KeyR-hit2,
.KeyU-hit2,
.KeyP-hit2,
.BracketLeft-hit2 {
  z-index: 1;
  margin: 0px 0px 0px 15px;
  height: 180px;
  width: 75px;
  background: var(--background-color__blackkeys);
  border-radius: 0px 0px 100px 100px;
  border: none;
  outline: none;
}

.KeyY,
.KeyO,
.KeyY-hit,
.KeyO-hit,
.KeyY-hit2,
.KeyO-hit2 {
  z-index: 1;
  margin: 0px 0px 0px 105px;
  height: 180px;
  width: 75px;
  background: var(--background-color__blackkeys);
  border-radius: 0px 0px 100px 100px;
  border: none;
  outline: none;
}

.KeyE-hit,
.KeyR-hit,
.KeyY-hit,
.KeyP-hit,
.KeyU-hit,
.KeyO-hit,
.BracketLeft-hit {
  animation: 1s ease-out keyHitBlack;
  animation-iteration-count: 1;
}

.KeyE-hit2,
.KeyR-hit2,
.KeyY-hit2,
.KeyU-hit2,
.KeyO-hit2,
.KeyP-hit2,
.BracketLeft-hit2 {
  animation: 1s ease-out keyHitBlack2;
  animation-iteration-count: 1;
}

/* ______FOCUS______ */

.KeyW:focus:active,
.KeyE:focus:active,
.KeyR:focus:active,
.KeyY:focus:active,
.KeyU:focus:active,
.KeyO:focus:active,
.KeyP:focus:active,
.BracketLeft:focus:active {
  animation: 1s ease-out keyHitBlack;
  animation-iteration-count: 1;
}
.KeyW-hit:focus:active,
.KeyE-hit:focus:active,
.KeyR-hit:focus:active,
.KeyY-hit:focus:active,
.KeyU-hit:focus:active,
.KeyO-hit:focus:active,
.KeyP-hit:focus:active,
.BracketLeft-hit:focus:active {
  animation: 1s ease-out keyHitBlack2;
  animation-iteration-count: 1;
}
.KeyW-hit2:focus:active,
.KeyE-hit2:focus:active,
.KeyR-hit2:focus:active,
.KeyY-hit2:focus:active,
.KeyU-hit2:focus:active,
.KeyO-hit2:focus:active,
.KeyP-hit2:focus:active,
.BracketLeft-hit2:focus:active {
  animation: 1s ease-out keyHitBlack;
  animation-iteration-count: 1;
}
