@mixin octBtn {
  outline: none;
  width: 30px;
  height: 30px;
  border: 1px solid #1a1a1a;
  background: #e6e6e6;
  box-shadow: inset -2px -2px #999999, inset 2px 2px #e6e6e6;
  background-size: 10px 15px;

  background-repeat: no-repeat;
  background-position: center center;
}
@mixin waveformBtn {
  outline: none;
  width: 30px;
  height: 30px;
  border: 1px solid #1a1a1a;
  background: #e6e6e6;
  box-shadow: inset -2px -2px #999999, inset 2px 2px #e6e6e6;

  background-repeat: no-repeat;
  background-position: center center;
}

.controls {
  margin: 0;
  display: flex;
  background: rgb(77, 77, 77);
  display: flex;
  justify-content: space-between;
  padding-left: 15px;

  &__volume {
    display: flex;
    flex-direction: column;

    &__slider {
      margin-top: 12px;
      background: #f7931e;
      width: 70px;
      height: 70px;
      border-radius: 100px;
      padding: 5px;
    }

    &__label {
      text-align: center;
      margin-top: 2px;
      font-family: orator-std, monospace;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #f7931e;
    }
    &__octBtn-wrapper {
      display: flex;
      margin-top: 20px;
      &__btnUp {
        @include octBtn;
        background-image: url("../images/oct_up.png");
        margin-left: auto;
      }
      &__btnDown {
        @include octBtn;
        background-image: url("../images/oct_down.png");
      }

      &__btnUp:active,
      &__btnDown:active {
        box-shadow: inset 2px 2px #999999, inset -2px -2px #e6e6e6;
        transform: translateY(0.1px);
      }
      &__label {
        margin-top: 5px;
        text-align: center;
        font-family: orator-std, monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #428cc2;
      }
    }
  }
  // ---------------------------------------

  &__osc-volume {
    margin-top: 12px;

    &__vol-sliders {
      display: flex;

      &__osc1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 13px 0px 0px;
      }
      &__osc1-light {
        background: #f7931e;
        width: 20px;
        height: 5px;
        border-radius: 10px;
      }
      &__osc1-slider {
        margin-top: 17px;

        width: 50px;
        height: 50px;
        border-radius: 100px;
        padding: 5px;
        background: #428cc2;
      }
      &__label-osc1 {
        font-family: orator-std, monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #428cc2;
      }
      &__osc2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 0px 0px 0px 13px;
      }
      &__osc2-light {
        background: #f7931e;
        width: 20px;
        height: 5px;
        border-radius: 10px;
      }
      &__osc2-slider {
        margin-top: 17px;
        width: 50px;
        height: 50px;
        border-radius: 100px;
        padding: 5px;
        background: #428cc2;
      }
      &__label-osc2 {
        font-family: orator-std, monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #428cc2;
      }
    }

    &__waveforms {
      display: flex;
      flex-direction: column;

      margin-top: 19px;

      align-items: center;
      &__osc1 {
        margin-bottom: 4px;
        &__sinBtn {
          @include waveformBtn;
          background-image: url("../images/sine_wave.png");
          background-size: 23px 23px;
          margin-right: 10px;
        }

        &__sawBtn {
          @include waveformBtn;
          background-image: url("../images/saw_wave.png");
          background-size: 21px 21px;
          margin-right: 10px;
        }

        &__sqrBtn {
          @include waveformBtn;
          background-image: url("../images/square_wave.png");
          background-size: 23px 23px;
          margin-right: 10px;
        }

        &__triBtn {
          @include waveformBtn;
          background-image: url("../images/triangle_wave.png");
          background-size: 21px 21px;
          //   margin-left: auto;
        }
      }
      &__osc2 {
        margin-bottom: 4px;
        &__sinBtn {
          @include waveformBtn;
          background-image: url("../images/sine_wave.png");
          background-size: 23px 23px;
          margin-right: 10px;
        }

        &__sawBtn {
          @include waveformBtn;
          background-image: url("../images/saw_wave.png");
          background-size: 21px 21px;
          margin-right: 10px;
        }

        &__sqrBtn {
          @include waveformBtn;
          background-image: url("../images/square_wave.png");
          background-size: 23px 23px;
          margin-right: 10px;
        }

        &__triBtn {
          @include waveformBtn;
          background-image: url("../images/triangle_wave.png");
          background-size: 21px 21px;
          //   margin-left:auto;
        }
      }
      &__label-wrapper {
        display: flex;
        align-items: center;

        &__light-osc1 {
          margin-top: 2px;
          background: #f7931e;
          width: 20px;
          height: 5px;
          border-radius: 10px;
        }
        &__light-osc2 {
          margin-top: 2px;
          background: #f7931e;
          width: 20px;
          height: 5px;
          border-radius: 10px;
        }
        &__label {
          padding: 0px 10px 0px 10px;
          font-family: orator-std, monospace;
          font-weight: 400;
          font-style: normal;
          font-size: 18px;
          color: #428cc2;
        }
      }
    }
  }

  &__detune-and-noise {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 5px;
    &__detune-slider {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      padding: 5px;
      background: #428cc2;
    }
    &__detune-label {
      margin-bottom: 22px;
      font-family: orator-std, monospace;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #428cc2;
    }
    &__noise-slider {
      width: 50px;
      height: 50px;
      border-radius: 100px;
      padding: 5px;
      background: #79c6c3;
    }
    &__noise-label {
      font-family: orator-std, monospace;
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #79c6c3;
    }
  }

  &__filter {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-align: center;
    width: 80px;

    &__logo {
      margin-left: -25px;
      margin-top: -30px;
      &-img {
        width: 130px;
      }
    }
    &__filtertype {
      display: flex;
      justify-content: center;
      justify-content: space-between;
      margin-top: 10px;
      &__lowpass {
        display: flex;
        background: #ffffff;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: none;
        outline: none;
      }
      &__bandpass {
        display: flex;
        background: #ffffff;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: none;
        outline: none;
      }
      &__highpass {
        display: flex;
        background: #ffffff;
        width: 10px;
        height: 10px;
        border-radius: 100px;
        border: none;
        outline: none;
      }

      &__lowpass-label {
        font-family: orator-std, monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #ffffff;
      }
      &__bandpass-label {
        font-family: orator-std, monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #ffffff;
      }
      &__highpass-label {
        font-family: orator-std, monospace;
        font-weight: 400;
        font-style: normal;
        font-size: 12px;
        color: #ffffff;
      }
    }
    &__filter-slider {
      margin-top: 6px;
      background: #1a1a1a;
      width: 70px;
      height: 70px;
      border-radius: 100px;
      padding: 5px;
    }
    &__label {
      margin-bottom: 12px;
      font-family: orator-std, monospace;
      font-weight:600;
      font-style: normal;
      font-size: 18px;
      color: #1a1a1a;
    }
  }

  &__adsr {
    display: flex;
    justify-content: space-between;

    width: 200px;

    margin-bottom: 10px;

    text-align: center;
    &__attack-wrapper {
      // display: flex;
      // justify-content: center;
      background: #428cc2;
      width: 37px;
      height: 175px;
      border-radius: 100px;
      &__slider {
      }
    }
    &__attack-label {
      font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #428cc2;
    }
    &__decay-wrapper {
      // display: flex;
      // justify-content: center;
      background: #428cc2;
      width: 37px;
      height: 175px;
      border-radius: 100px;
      &__slider {
      }
    }
    &__decay-label {
        font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #428cc2;
    }
    &__sustain-wrapper {
      // display: flex;
      // justify-content: center;
      background: #428cc2;
      width: 37px;
      height: 175px;
      border-radius: 100px;
      &__slider {
      }
    }
    &__sustain-label {
        font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #428cc2;
    }
    &__release-wrapper {
      // display: flex;
      // justify-content: center;
      background: #428cc2;
      width: 37px;
      height: 175px;
      border-radius: 100px;
      &__slider {
      }
    }
    &__release-label {
        font-weight: 400;
      font-style: normal;
      font-size: 18px;
      color: #428cc2;
    }
  }

  &__delay {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-left: -25px;
    margin-right: 8px;
    &__headline {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #d8d6d6;
        margin-bottom:8px;
        margin-right: 7px;
    }
    &__sliders {

        display: flex;
   
      justify-content: space-between;

width:150px;
 margin-right: 7px;
 margin-top: 2px;
      &__slider-time {
          
        // margin-top: 12px;
        // margin-bottom: 5px;
        width: 45px;
        height: 45px;
        border-radius: 100px;
        padding: 5px;
        background: #d8d6d6;
      }
      &__label-time {
       
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #d8d6d6;
      }
      &__slider-repeat {
        // margin-top: 12px;
        // margin-bottom: 5px;
        width: 45px;
        height: 45px;
        border-radius: 100px;
        padding: 5px;
        background: #d8d6d6;
      }
      &__label-repeat {
    
        font-weight: 400;
        font-style: normal;
        font-size: 14px;
        color: #d8d6d6;
      }
    }
    &__MIDI {
      display: flex;

      align-items: center;
      justify-content: space-between;
      width: 65px;
      margin-right: -145px;
      margin-top:-10px;
      &__light {
        width: 15px;
        height: 15px;
        border-radius: 50px;
        background: red;
      }
      &__label {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #428cc2;
      }
    }
    &__switches {
      display: flex;
      justify-content: space-between;
      margin-top: 12px;

      width: 190px;
      &__keymapping {
        // position: relative;
        // display: inline-block;
        // width: 60px;
        // height: 34px;
        // outline: none;
      }
      &__keymapping input {
        // position: absolute;
        // top: -99999px;
        // left: -99999px;
        // // opacity: 0;
        // // height:0;
        // // width:0;
      }
      &__keymapping-slider {
        // position: absolute;
        // cursor: pointer;
        // top: 0;
        // left: 0;
        // right: 0;
        // bottom: 0;
        // background: #2497e3;
        // -webkit-transition: 0.4s;
        // transition: 0.4s;
        // border-radius: 34px;
      }
      &__keymapping-slider:before {
        // position: absolute;
        // content: "";
        // height: 26px;
        // width: 26px;
        // left: 4px;
        // bottom: 4px;
        // background-color: #4d4d4d;
        // -webkit-transition: 0.4s;
        // transition: 0.4s;
        // border-radius: 50%;
      }
      &__keymapping-label {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #428cc2;
      }

      &__darkmode {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 34px;
        outline: none;
      }
      &__darkmode input {
        position: absolute;
        top: -99999px;
        left: -99999px;
        // opacity: 0;
        // height:0;
        // width:0;
      }
      &__darkmode-slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #428cc2;
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 34px;
      }
      &__darkmode-slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        background-color: rgb(151, 191, 201);
        -webkit-transition: 0.4s;
        transition: 0.4s;
        border-radius: 50%;
      }
      &__darkmode-label {
        font-weight: 400;
        font-style: normal;
        font-size: 18px;
        color: #428cc2;
      }
    }
  }
}

input:checked + .controls__delay__switches__darkmode-slider {
  background-color: #428cc2;
}
input:focus + .controls__delay__switches__darkmode-slider {
  box-shadow: 0 0 1px #428cc2;
}
input:checked + .controls__delay__switches__darkmode-slider:before {
  background-color: #4d4d4d;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

// input[type="range"] {
//   background: none;
//   -webkit-appearance: none;
//   margin: 85px 0px 0px -61px;
//   //   width: 200px;

//   transform: rotate(270deg);
// }
// input[type="range"]:focus {
//   outline: none;
// }
// input[type="range"]::-webkit-slider-runnable-track {
//   margin: 0px 0px -30px -25px;
//   width: 100%;
//   height: 6px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 0px 0px 0px #000000;
//   background: #4d4d4d;
//   border-radius: 50px;
//   border: 0px solid #000000;
// }
// input[type="range"]::-webkit-slider-thumb {
//   box-shadow: 0px 0px 0px #000000;
//   border: 0px solid #2497e3;
//   height: 20px;
//   width: 20px;
//   border-radius: 50px;
//   background: #4d4d4d;
//   cursor: pointer;
//   -webkit-appearance: none;
//   margin-top: -7px;
// }
// input[type="range"]:focus::-webkit-slider-runnable-track {
//   background: #4d4d4d;
// }
// input[type="range"]::-moz-range-track {
//     appearance: none;
//     -webkit-appearance: none;
//   margin: 85px 0px 0px -61px;
//   width: 100%;
//   height: 6px;
//   cursor: pointer;
//   animate: 0.2s;
//   box-shadow: 0px 0px 0px #000000;
//   background: #4d4d4d;
//   border-radius: 50px;
//   border: 0px solid #000000;
// }
// input[type="range"]::-moz-range-thumb {
//   box-shadow: 0px 0px 0px #000000;
//   border: 0px solid #2497e3;
//   height: 20px;
//   width: 20px;
//   border-radius: 50px;
//   background: #4d4d4d;
//   cursor: pointer;
// }
// input[type="range"]::-ms-track {
//   width: 100%;
//   height: 6px;
//   cursor: pointer;
//   animate: 0.2s;
//   background: transparent;
//   border-color: transparent;
//   color: transparent;
// }
// input[type="range"]::-ms-fill-lower {
//   background: #4d4d4d;
//   border: 0px solid #000000;
//   border-radius: 100px;
//   box-shadow: 0px 0px 0px #000000;
// }
// input[type="range"]::-ms-fill-upper {
//   background: #4d4d4d;
//   border: 0px solid #000000;
//   border-radius: 100px;
//   box-shadow: 0px 0px 0px #000000;
// }
// input[type="range"]::-ms-thumb {
//   margin-top: 1px;
//   box-shadow: 0px 0px 0px #000000;
//   border: 0px solid #2497e3;
//   height: 20px;
//   width: 20px;
//   border-radius: 50px;
//   background: #4d4d4d;
//   cursor: pointer;
// }
// input[type="range"]:focus::-ms-fill-lower {
//   background: #4d4d4d;
// }
// input[type="range"]:focus::-ms-fill-upper {
//   background: #4d4d4d;
// }
